language: c
sudo: false
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
      - g++
      - gfortran
      - bison

install:
  - ./configure --prefix=$HOME/appveyor
  - make install

script:
  - $HOME/appveyor/bin/sqm -h
  - $HOME/appveyor/bin/antechamber -h
  - $HOME/appveyor/bin/tleap -h
  # Run tests
  - cd test && make test.antechamber && cd ..
  - cd test && make test.sqm && cd ..
  - cd test && make test.leap && cd ..
  - cd test && make clean & cd ..

